@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=MuseoModerno:wght@400;600&display=swap');
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 1px solid #ddd;
  font-size: larger;
  overflow-y: hidden;
  background-color: black;


}

.grid-item {
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

#container .selected {
  color:white;
  text-transform: uppercase;
}

#container .found {
  color:green;
  font-weight: 800;
  transition: color 2000ms ease-in;
}

#container .complete {
  background-color: lightgray;
}
.wordFound {
  text-decoration: line-through;
  color: green;
   
  transition: color 2000ms ease-in;

}

.uk-text-danger{
    margin-top: 25px
}

#wordList {
    background-color: black;
    padding: 10px 10px 10px 10px;
}

#timeElement {
    padding-left: 20px;
}
body{
    user-select: none;
    background-color: whitesmoke;
    font-family: 'Balsamiq Sans', cursive;
    letter-spacing: 2px;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: contain;

}

.uk-list li{
    font-weight: 600;
}
.uk-list span{
    font-weight: 400;
}

@media only screen and (max-width: 450px) {
  #container {
    font-size: small;
    padding: 0;
  }
  #wordList {
    font-size: small;
    padding: 10px 10px 10px 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 765px) {
  #container {
    font-size: small;
    padding: 0;
  }
  #wordList {
    font-size: small;
    padding: 10px 10px 10px 10px;
  }
}

