@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=MuseoModerno:wght@400;600&display=swap');

body{
    user-select: none;
    background-color: whitesmoke;
    font-family: 'Balsamiq Sans', cursive;
    letter-spacing: 2px;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: contain;

}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 1px solid #ddd;
  font-size: larger;
  overflow-y: hidden;
  margin-top: 20px;
  background-image: linear-gradient(315deg, #9b4193 0%, #ab59db 74%);
}

.grid-item {
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#container .selected {
  color:black;
  text-transform: uppercase;
  font-weight: 600;
}

#container .found {
  color:black;
  font-weight: 800;
  transition: color 2000ms ease-in;
}

#container .complete {
  background-color: lightgray;
}
.wordFound {
  text-decoration: line-through;
  color: black;
  font-weight: 600;
  transition: color 2000ms ease-in;
}

.uk-text-danger{
    margin-top: 25px
}

#wordList {
    background-color: whitesmoke;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
}

#timeElement {
    padding-left: 20px;
}

#wordListHeading, .words {
    color:  #9b4193 ;
}

#newGame{
    background-color:#9b4193 ;
}

#scoreElement, #timeElement{
    padding-top: 30px;
}

.uk-list li{
    font-weight: 600;
}

.uk-list span{
    font-weight: 400;
}

@media only screen and (max-width: 450px) {
  #container {
    font-size: small;
    padding: 0;
  }
  #wordList {
    font-size: small;
    padding: 10px 10px 10px 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 765px) {
  #container {
    font-size: small;
    padding: 0;
  }
  #wordList {
    font-size: small;
    padding: 10px 10px 10px 10px;
  }
}

@media only screen and (min-width: 1450px) and (max-width: 4500px) {
  #container {
    font-size: larger;
    margin-left: 350px;
    margin-right: 350px;

  }
  #wordList {
    font-size: larger;
    padding: 0px 250px 0px 250px;
  }

}

@media only screen and (min-width: 1000px) and (max-width: 1439px) {
  #container {
    font-size: larger;
    margin-left: 125px;
    margin-right: 125px;

  }
  #wordList {
    font-size: larger;
    padding: 0px 150px 0px 150px;
  }

}


@media only screen and (min-width: 766px) and (max-width: 999px) {
  #container {
    font-size: large;
    margin-left: 25px;
    margin-right: 25px;

  }
  #wordList {
    font-size: large;
    padding: 0px 50px 0px 50px;
  }

}